

.main-page-container {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
 
}



#hero {
margin: 0 2%;
  height: 70vh;
  
  background: url("../assets/images/massive-code.jpg") center/cover;
  border-radius: 30px;
  box-sizing: border-box;


}

.grid-container {
  
  box-sizing: border-box;
  border:rgb(0, 255, 238) solid 2px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 40% 5% 55%;
  margin: 20vh 10vw;
  padding: 5vh 5vw;
  filter: drop-shadow(0px 15px 4px rgba(9, 121, 30, 0.412));
  backdrop-filter: blur(5px);
  max-height: 200px;
 
}

.grid-container > * {
  color: aliceblue;
  max-height: 140px;
  min-height: 140px;
 

}

.svg-container{
  /* position: relative; */
  height: 100%;
  width: 100%;
  border: 2px solid red;
  

}
.blob-svg {
  /* position: absolute; */
  border: 2px solid blue;
  
}

.blob-violet {
  border: 2px solid green;
}


.works-container {
  display: flex;
  flex-direction: column;
  border: 2px solid red;

}

#lord-meteo {
  border: 2px solid blue;
}

#polygon {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  height: 100%;
  width: 100%;
  background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(4, 2, 55, 1) 0%, rgba(9, 9, 121, 1) 18%, rgba(0, 212, 255, 1) 100%);
    position: relative;
}

#polygon:after {
  content: "TESTtttt";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}