#header-container {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;


}

#header-container div {
  display: flex;


}

#header-container h1 {
  align-self: center;
}

.logo {

  max-width: 50px;
  max-height: 50px;

  cursor: pointer;
}

#linkedin {

  margin-top: 9px;
  max-width: 50px;
  max-height: 33px;


  cursor: pointer;
}