@import url('https://fonts.googleapis.com/css2?family=Playfair&display=swap');

* {
  /* border: solid 2px red; */
  margin: 0;

}

.day {

  font-family: 'Playfair', serif;
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

.night {
  
    font-family: 'Playfair', serif;
    display: flex;
    flex-direction: column;
    color: white;
  
    background-image: linear-gradient(to top, #0f2027 0%, #203a43 100%);
}